Body{
margin:0;
Padding:0;
}
#main{
      Background:;
      Width:95%;
      Font-weight:inherit;
      font-family:Raleway  ,sans-serif;
      Margin:auto;
}
.title{
      width:100%;
      
      Display:grid;
      grid-template-columns: 1fr auto auto;
      Column-gap:1rem;
     }
.reservia{
Padding-top:1.5rem;
}
 

.navi{
      Display:flex;
      Align-items:center;
      Justify-content:center;
}

.ins a:visited{ 
      Color:#0065FC;
      
}
.navi a{ 
      
      Text-decoration:none;
}
.ins{ 
      Padding-top:2rem;
      Font-weight:100;
      font-size:20px;
      Color:#0065FC;
      Padding-left:2rem;
      Padding-right:2rem;
      Padding-bottom:2rem;
      Width:100%;
      Border-top:3px solid #0065FC;
      
}
.inss{
      Padding-top:2rem;
      Font-weight:100;
      font-size:20px;
      Color:black;
      Padding-left:2rem;
      Padding-right:2rem;
      Padding-bottom:2rem;
      Width:100%;
      
}
.inss:hover{
      Border-top:3px solid #0065FC;
      Color:#0065FC;
}
.inss a:visited{
   Color:black;
}

.navi1{
      Display: flex;
    Align-items: center;
    Justify-content: center;
}   

.insss a:visited {
    Color:#0065FC;
      
}
.navi1 a{
    
    text-decoration: none;
}
.insss{
      Padding-top:2rem;
      Padding-left:2rem;
      Padding-right:2rem;
      Font-weight:100;
      font-size:20px;
      Color:#0065FC;
      Padding-bottom:2rem;
      Width:100%;
      
}
.insss:hover{
      Border-top:3px solid #0065FC;;
}
#head{
      Width:100%;
      Display:grid;
      }
.element1{
       Width:80%;
       Display:block;
}
.element01 h1{
       Font-weight:500;
       Margin-bottom:0;
       font-size:26px;
       font-family:Raleway  ,sans-serif;

       
}
.element01 p{
        Margin-top:1rem;
        font-family: Raleway, sans-serif;
        Opacity:0.6;
}
form{
Height:51px;
Display:flex;
}
.png{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:solid 2px #F2F2F2;
    Background:#F2F2F2;
    width: 51px;
    border-radius: 1rem 0 0 1rem;
} 
.recherche{
Padding-top:0.75rem;
Border:solid 2px #F2F2F2;
 Padding-left:1rem; 
 Padding-right:1rem; 
}

.recherche input {
   Font-size:17px; 
  Border:none;
   outline: none;
    
    
}
.bouton{
       Cursor:pointer;
       Display:flex;
       Align-items:center;
       Justify-content:center;
       Background:#0065FC;
       Border-Radius:0 1rem 1rem 0;
     
           } 
.submit{
      Font-size:17px;
      Display:flex;
      Padding-left:1rem;
      Padding-right:1rem;     
      Color:white;
      
} 
.bouton i{
Display:none;
Color:white;
}


.element04{ 
    
    Transation:1s ;
    Margin-top:2rem;
    margin-bottom: 1rem;
    Display:flex;
    
    Align-items:center;
    font-family :Raleway, sans-serif;
}

.list{
Justify-content:space-between;
Align-items:center;
Display:flex;
Width:75%;
}

.element04 h2{
    Font-weight:700;
    Font-size:20px;
    font-family:Raleway  ,sans-serif;    
    Margin-left:0px;
    Margin-right:2rem;}


.list1 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list1{
    
    Display:flex;
    Align-items:center;
    Border:solid 2px #d9d9d9;
    Font-weight:700;
    font-family:Raleway  ,sans-serif;
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    }
.list1:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}
.list2 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list2{
    
    Display:flex;
    Align-items:center;
    Font-weight:700;
    Border:solid 2px #d9d9d9;
    
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    }
.list2:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}
.list3 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list3{
    
    Display:flex;
    Align-items:center;
    Font-weight:700;
    Border:solid 2px #d9d9d9;
    
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    }
.list3:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}
.list4 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list4{
    
    Display:flex;
    Align-items:center;
    Font-weight:700;
    Border:solid 2px #d9d9d9;
    
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    }
.list4:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}

.element05 { 
    Display:flex;
    Align-items:center;
    Margin:1rem 0 2rem 0;    
   }
.info2 { 
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Padding-bottom:0px;
    Margin-right:10px;
    Width:2rem;
    Height:2rem;
    Color:#0065FC;
    Border:solid 1px #d9d9d9;
    Border-radius:50%;}
#yazid{
    
    height:100%;
    width:100%;
    display:flex;
    column-gap: 2rem;
}

#container{
     Width:70%;
     border-radius: 1.5rem;
     Background:#F2F2F2;
}

#container h3{
     Font-weight:inherit;
     Display:block;
     Margin-left:2rem;
     Font-size:24px;
}
#container h3{
     Font-size:19px;
     Font-weight:500;
     Display:block;
     Margin:2rem;
}
#conteneur{
     
     Width:100%;
     display: flex;
     flex-wrap: wrap;
     Column-gap:2rem;
     Row-gap:2rem;
     Justify-content:center;
     Align-items:center;
}
.element{
     Box-shadow:0 0 16px #0000002e;
     Display:block;
     Border-radius:1.25rem;
     Height:220px;
     Width:230px;
     Border:5px solid #fff;
     Overflow:hidden;
     Border-radius:1.25rem;
     Background:white;
     Cursor:pointer;}


.element img{
      Height:8rem;
      Max-height:100%;
      Max-width:100%;
      Object-fit:cover;}
.element p{
      Font-weight:inherit;
      Font-size:18px;
      Margin:0.25rem 0.75rem 0 0.75rem;}
.star2{
      Color:#0065FC;
      Margin:0.75rem;}
.star2 span{
      Color:#d9d9d9;}
.element:hover{
       Transform:scale(1.02);}
#yijiao{
       Width:30%;
       Background:#F2F2F2;
       Border-radius:1.5rem;}

.graph{
     
     Font-size:24px;
     Display:flex;
     Justify-content:space-between;
     Height:60px;
}

.graph h3{
       Font-weight:inherit;
       Font-size:1.5rem;
       Margin-left:2.5rem;}
.graph i{
       Margin-right:2rem;
       Margin-top:1.5rem;
}
.elem11{
       
       Display:flex;
       Flex-direction:column;
       Row-gap:2rem;
       Margin:1.5rem;
}

.element11{
        Box-shadow:0 0 16px #0000002e; 
       
        Border-radius:1.5rem;
        Background:#fff;
        overflow:hidden;
        Display:flex;
        
        Height:150px;
        Border:5px solid #fff;
}
.element11 img{
        Object-fit:cover;
        Width:40%;
}
.wax{
       Display:block;
       Margin-left:1rem;
}
.wax p{
       Font-weight:500;
       
}
.wax .star1{
       Color:#0065FC;
       Margin-top:3rem;

}
.star1 span{
        Color:#d9d9d9;
}
.element11:hover{
        Transform:scale(1.02);
}
.wrapper1{
        
        Margin:4rem 0;
}

.wrapper1 h2{
       Font-weight:inherit;
       font-family:Raleway  ,sans-serif;
}
.wrapper {
        width:100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        Grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
        column-gap:2rem;
 }

.one {
      Cursor:pointer;
      box-shadow: 0 0 20px #0000002e;
      overflow: hidden;
      Border-Radius:1rem 1rem 1rem 1rem;
      Display:flex;
      Flex-direction:column;
      object-fit:cover;
      grid-column: 1/2 ;
      Grid-row:2/7;
}
.one img{
       
       Object-fit:cover;
       }
.one p{
       
        margin-left :24px;
        margin-right: 24px;
        margin-top :24.2px;}
 
.two {  
        Cursor:pointer;
        Display:flex;
        Flex-direction:column;
        Border-Radius:1rem 1rem 1rem 1rem;
        overflow: hidden;
        box-shadow: 0 0 20px #0000002e;
        grid-column: 2 ;
        grid-row: 2/5;
} 
.two p{
       
        margin-left :24px;
        margin-right :24px;
        margin-top :24.2px;
}
.two img{
       Width:100%;
       Height:230px;
       object-fit:cover;
}
.three {
       Cursor:pointer;
       box-shadow: 0 0 20px #0000002e;
       overflow: hidden;
       Display:flex;
       Flex-direction:column;
       Border-Radius:1rem 1rem 1rem 1rem;
       grid-column: 2;
       Grid-row: 6/7;
}
.three img{
      object-fit:cover;
      Height:166px;
}
.three p{
      margin-top:24.2px;
      
      margin-left:24px;
      margin-right:24px; 
}

.four {
     Cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     Display:flex;
     Flex-direction:column;
     Border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 3;
     grid-row: 2/7;
}
.four img{
     object-fit:cover;
}
.four p{
     
     margin-left :24px;
     margin-right: 24px;
     margin-top :24.2px;}
 
.five {
     Cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     Display:flex;
     Flex-direction:column;
     Border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 4;
     grid-row: 2/3;
}
.five img{
   
     Height:166px;
     object-fit:cover;
}
.five p{
     margin-left :24px;
     margin-right: 24px;
     margin-top :24.2px;
}

.six {
     Cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     Display:flex;
     Flex-direction:column;
     Border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 4;
     grid-row: 4/7;
}
.six img{
     Object-fit:cover;
}
.six p{
     
     margin-left :24px;
     margin-right :24px;
     margin-top :24.2px;
}

#footer{
     Width:100%;
     Height:100%;
     Background:#F2F2F2;
}
.footer1{
     Width:100%;
     Display:flex;
     Justify-content:space-between;

}

.element5{ 
      Padding-left:2rem;
      Width:100%;
} 
.element5 h3{
      Font-weight:700;
      Font-size:18:px;     
      font-family:Raleway  ,sans-serif;
}
.element5 ul{
      Font-weight:200;
      list-Style:none;
}
.element5 a{
     Font-weight:inherit;
     font-family:Raleway  ,sans-serif;
     line-height: 2rem;
     Text-decoration:none;
     Color:#000;
     Margin-left:-40px;
}
.element5 a:hover{
    text-decoration:underline;
}

@media screen  and (max-width:1024px){ 
      #main{
        padding:0 2rem;  
        Width:100%;
  } 
    .title{
             Width:100%;
            
             Display:grid;
             Grid-template-columns:1fr auto auto;}  
} 
@media screen  and (max-width:766px){ 
    #main{
        padding:0 2rem;  
        Width:100%;
  }
    .title{
             Width:100%;
            
             Display:grid;
             grid-template-areas: 
            "Reservia. navi1"
            "navi navi navi";  
} 
.Resevia{grid-area:Reservia;}
.navi{grid-area:navi;}
.navi1{grid-area:navi1;}
#head{
      
      max-Width:100%;
}

.ins{
   Border-top:none !important;
   Border-bottom:3px solid #0065FC;
}
 .inss{
Border-bottom:3px solid #F2F2F2;}
}
@media screen  and (max-width:768px)
{
    .recherche {
         border-right:none;
        
  }
     .bouton{
        Margin-left:-10px;
        Width:51px;
        Border-radius:1rem 1rem 1rem 1rem;
}
     .bouton i{
        Display:flex;
}
      .submit{
        display:none;
}
     Form{
        Width:100%;
}
}
@media screen  and (max-width:768px){
    .element04{
        Width:100%;
        Display:block;
        
        
  }
.list{
Width:100%;
Flex-flow:wrap;
Display:flex;
row-gap:1rem;
}
}

@media screen and (max-width:768px){
    #yazid{
       
        display: flex;
    flex-direction: column-reverse;
     
  }
}

@media screen and (max-width:768px){
    #container{
        Background:white;
        Width:100%;
        
  }
}
@media screen and (max-width:1024px){
    #conteneur{
        Column-gap:1rem;
Row-gap:1rem;}
    .element{
        
        Width:30%;
        
  }
}
@media screen and (max-width:766px){
    .element{
        
        Width:100%;
        
  }
}

@media screen  and (max-width:1024px){
    #yijiao{
     Width:100%;
     Border-radius:16px;
     
  }


}

@media screen  and (max-width:766px){
    #yijiao{
     Width:100%;
     Border-radius:0px;
     
  }


}
@media screen and (max-width:1024px){
    .elem11{
         Display:flex;
        Flex-direction:row;
        Column-gap:1rem;
        
}
.element11{
   display:flex;
   Flex-direction:column;
}
.element11 img{
     Width:100%;
     Height:50%;
}
.wax{
   display:flex;
   Flex-direction:column;
}
.wax p{
Margin-top:5px;}
.wax .star1{
Margin-top:-15px;}
} 
@media screen and (max-width:766px){
    .elem11{
         Display:flex;
        Flex-direction:column;
        
}
.element11{
   display:flex;
   Flex-direction:row;
}
.element11 img{
     Width:40%;
    Height:100%;
}
.wax{
   display:flex;
   Flex-direction:column;
   row-gap:3rem;
}

}

@media screen and  (max-width:1024px){
   .wrapper1{
        Margin:0;
        Display:block;
        Width:100%;
        
       
  }
    .wrapper{
        Display: flex;
    Width: 100%;
    Flex-wrap:wrap;
    Row-gap: 1rem;
}
.wrapper1 h2{Padding:0 0 1rem 1rem;}
 .one{
        Width:30%;}
.one img{
       Height:140px;}
.two{
        Width:30%;}
.two img{
       Height:140px;}
 .three{
        Width:30%;}
.three img{
       Height:140px;} 
 .four{
        Width:30%;}
.four img{
       Height:140px;}   
.five{
        Width:30%;}
.five img{
       Height:140px;}
   .six{
        Width:30%;}
.six img{
        height:140px;}
}
 @media screen and (max-width:667px){
     .wrapper1{
        Display:block;
        Width:100%;
}
    .wrapper{
        Row-gap:1rem;
        Margin:0;
        display:flex;
        flex-direction:column;
        Width:100%;
}
.wrapper1 h2
      {Padding:0 0 1rem 1rem;}
 .one{
        Width:100%;}
.one img{
       Height:140px;}
.two{
        Width:100%;}
.two img{
       Height:140px;}
 .three{
        Width:100%;}
.three img{
       Height:140px;} 
 .four{
        Width:100%;}
.four img{
       Height:140px;}   
.five{
        Width:100%;}
.five img{
       Height:140px;}
   .six{
        Width:100%;}
.six img{
        height:140px;}
} 
@media screen and (max-width:1024px){
      #footer{
      
      Margin-top:2rem;
      Padding:0 2rem;
}
 .footer1{
        Display:flex;}
}

@media screen and (max-width:766px){
 
    .footer1{
        Display:block;
        Padding: 2rem 0;
}
#footer{
      
      Margin-top:2rem;
      Padding:0 2rem;
}

}
