Body{
margin:0;
padding:0;
}
.title{
      width:100%;
      
      display:grid;
      grid-template-columns: 1fr auto auto;
      column-gap:1rem;
     }
.reservia-logo{
padding-left:1.5rem;
padding-top:1.5rem;
}
 

.menu-nav-1{
      display:flex;
      align-items:center;
      justify-content:center;
}

.hebergement a:visited{ 
      color:#0065fc;
      
}
.menu-nav-1 a{ 
      
      text-decoration:none;
}
.hebergement{ 
      font-family:Raleway  ,sans-serif;
      padding-top:2rem;
      font-weight:100;
      font-size:20px;
      color:#0065FC;
      padding-left:2rem;
      padding-right:2rem;
      padding-bottom:2rem;
      width:100%;
      border-top:3px solid #0065fc;
      
}
.activites {
      font-family:Raleway  ,sans-serif;
      padding-top:2rem;
      font-weight:100;
      font-size:20px;
      color:black;
      padding-left:2rem;
      padding-right:2rem;
      padding-bottom:2rem;
      width:100%;
      
}
.activites:hover{
      border-top:3px solid #0065fc;
      color:#0065fc;
}
.activites a:visited{
   color:black;
}

.menu-nav-2{
      display: flex;
    align-items: center;
    justify-content: center;
}   

.inscrire a:visited {
    color:#0065fc;
    
      
}
.menu-nav-2 a{
    
    text-decoration: none;
}
.inscrire {
      font-family:Raleway  ,sans-serif;
      padding-top:2rem;
      padding-left:2rem;
      padding-right:2rem;
      font-weight:100;
      font-size:20px;
      color:#0065fc;
      padding-bottom:2rem;
      width:100%;
      
}
.inscrire:hover{
      border-top:3px solid #0065fc;
}
#main{
      
      width:95%;
      font-weight:inherit;
      font-family:Raleway  ,sans-serif;
      margin:auto;
}
#head{
      width:100%;
      display:grid;
      }
.element1{
       width:80%;
       display:block;
}
.element01 h1{
       font-weight:500;
       margin-bottom:0;
       font-size:26px;
       font-family:'Raleway'  ,sans-serif;

       
}
.element01 p{
        margin-top:1rem;
        font-family: raleway, sans-serif;
        opacity:0.6;
}
form{
height:51px;
display:flex;
}
.map{
    display:flex;
    align-items:center;
    justify-content:center;
    border:solid 2px #F2F2F2;
    background:#F2F2F2;
    width: 51px;
    border-radius: 1rem 0 0 1rem;
} 
.recherche{
padding-top:0.75rem;
border:solid 2px #F2F2F2;
 padding-left:1rem; 
 padding-right:1rem; 
}

.recherche input {
   font-size:17px; 
  border:none;
   outline: none;
    
    
}
.bouton{
       cursor:pointer;
       display:flex;
       align-items:center;
       justify-content:center;
       background:#0065FC;
       border-Radius:0 1rem 1rem 0;
     
           } 
.submit{
      Font-size:17px;
      display:flex;
      padding-left:1rem;
      padding-right:1rem;     
      color:white;
      
} 
.bouton i{
display:none;
color:white;
}


.element04{ 
    
    
    margin-top:2rem;
    margin-bottom: 1rem;
    display:flex;
    
    align-items:center;
    font-family :raleway, sans-serif;
}

.list{
align-items:center;
display:flex;
Column-gap:1rem;
width:75%;
}

.element04 h2{
    font-weight:700;
    font-size:20px;
    font-family:Raleway  ,sans-serif;    
    margin-left:0px;
    margin-right:2rem;}


.list1 i{
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    background:#deebff;
    Margin:-2px;
    
    color: #0065FC;
    border-radius:50%;
    height:3.8rem;
    width:3.8rem;
    
}
.list1{
    
    display:flex;
    align-items:center;
    border:solid 2px #d9d9d9;
    font-weight:700;
    font-family:Raleway  ,sans-serif;
    border-radius:50px;
    height:3.5rem;
    font-size:1rem;
   
    }
.list1:hover{
     background:#f2f7ff;
     transform:scale(1.04);
}
.list1 p{
     padding:1rem 1rem;
}

.element05 { 
    display:flex;
    align-items:center;
    margin:1rem 0 2rem 0;    
   }
.info2 { 
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:0px;
    margin-right:10px;
    width:2rem;
    height:2rem;
    color:#0065FC;
    border:solid 1px #d9d9d9;
    border-radius:50%;}
#container-father{
    
    height:100%;
    width:100%;
    display:flex;
    column-gap: 2rem;
}

#container-child-1{
     width:70%;
     border-radius: 1.5rem;
     background:#F2F2F2;
}

#container-child-1 h3{
     font-weight:500;
     display:block;
     margin:1.75rem 1.75rem;
     font-size:24px;
}

#container-cd-1{
     
     width:100%;
     display: flex;
     flex-wrap: wrap;
     column-gap:2rem;
     row-gap:2rem;
     justify-content:center;
     align-items:center;
}
.container-element-1{
     box-shadow:0 0 16px #0000002e;
     display:block;
     border-radius:1.25rem;
     height:220px;
     width:230px;
     border:5px solid #fff;
     overflow:hidden;
     border-radius:1.25rem;
     background:white;
     cursor:pointer;}


.container-element-1 img{
      height:8rem;
      height:60%;
      width:100%;
      object-fit:cover;}
.container-element-1 p{
      font-weight:500;
      
      margin:0.25rem 0.75rem 0 0.75rem;}
.star2{
      
      margin:0.75rem;}

.container-element-1:hover{
       transform:scale(1.02);}
#container-child-2{
       width:30%;
       background:#F2F2F2;
       border-radius:1.5rem;}

.graph{
     
     font-size:24px;
     display:flex;
     justify-content:space-between;
     height:60px;
}

.graph h3{
       font-weight:inherit;
       font-size:1.5rem;
       margin-left:2.5rem;}
.graph i{
       margin-right:2rem;
       margin-top:1.5rem;
}
.container-cd-2{
       
       display:flex;
       flex-direction:column;
       row-gap:2rem;
       margin:1.5rem;
}

.container-element-2{
        box-shadow:0 0 16px #0000002e; 
       
        border-radius:1.5rem;
        background:#fff;
        overflow:hidden;
        display:flex;
        
        height:150px;
        border:5px solid #fff;
}
.container-element-2 img{
        object-fit:cover;
        width:40%;
        height:100%;
}
.wax{
       display:block;
       Margin-left:1rem;
}
.wax p{
       Font-weight:500;
       
}
.wax .star1{
       
       margin-top:3rem;

}

.container-element-2:hover{
        transform:scale(1.02);
}
.wrapper-father{
        
        margin:4rem 0;
}

.wrapper-father h2{
       font-weight:inherit;
       font-family:Raleway  ,sans-serif;
}
.wrapper-child {
        width:100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
        column-gap:2rem;
 }

.one {
      cursor:pointer;
      box-shadow: 0 0 20px #0000002e;
      overflow: hidden;
      border-Radius:1rem 1rem 1rem 1rem;
      display:flex;
      flex-direction:column;
      object-fit:cover;
      grid-column: 1/2 ;
      grid-row:2/7;
}
.one img{
       width:100%;
       height:100%;
       object-fit:cover;
       }
.one p{
       
        margin-left :24px;
        margin-right: 24px;
        margin-top :24.2px;}
 
.two {  
        cursor:pointer;
        display:flex;
        flex-direction:column;
        border-Radius:1rem 1rem 1rem 1rem;
        overflow: hidden;
        box-shadow: 0 0 20px #0000002e;
        grid-column: 2 ;
        grid-row: 2/5;
} 
.two p{
       
        margin-left :24px;
        margin-right :24px;
        margin-top :24.2px;
}
.two img{
       width:100%;
       height:230px;
       object-fit:cover;
}
.three {
       cursor:pointer;
       box-shadow: 0 0 20px #0000002e;
       overflow: hidden;
       display:flex;
       flex-direction:column;
       border-Radius:1rem 1rem 1rem 1rem;
       grid-column: 2;
       grid-row: 6/7;
}
.three img{
      width:100%;
      object-fit:cover;
      height:166px;
}
.three p{
      margin-top:24.2px;
      
      margin-left:24px;
      margin-right:24px; 
}

.four {
     cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     display:flex;
     flex-direction:column;
     border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 3;
     grid-row: 2/7;
}
.four img{
      width:100%;
       height:100%;
       object-fit:cover;
}
.four p{
     
     margin-left :24px;
     margin-right: 24px;
     margin-top :24.2px;}
 
.five {
     cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     display:flex;
     flex-direction:column;
     border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 4;
     grid-row: 2/3;
}
.five img{
     width:100%;
     height:166px;
     object-fit:cover;
}
.five p{
     margin-left :24px;
     margin-right: 24px;
     margin-top :24.2px;
}

.six {
     cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     display:flex;
     flex-direction:column;
     border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 4;
     grid-row: 4/7;
}
.six img{
     width:100%;
     height:100%;
     object-fit:cover;
}
.six p{
     
     margin-left :24px;
     margin-right :24px;
     margin-top :24.2px;
}

#footer{
     width:100%;
     height:100%;
     background:#F2F2F2;
}
.footer-cd{
     width:70%;
     display:flex;
     justify-content:space-between;
     padding:2rem 2rem;
}


.footer-cd-1 h3{
      font-weight:700;
      font-size:18px;     
      font-family:'Raleway'  ,sans-serif;
}
.footer-cd-1 ul{
      font-weight:200;
      list-Style:none;
}
.footer-cd-1 a{
     font-weight:inherit;
     font-family:Raleway  ,sans-serif;
     line-height: 2rem;
     text-decoration:none;
     color:#000;
     margin-left:-40px;
}
.footer-cd-1 a:hover{
    text-decoration:underline;
}

@media screen  and (max-width:1024px){ 
      #main{
          
        width:100%;
  } 
    .title{
             width:100%;
            
             display:grid;
             grid-template-columns:1fr auto auto;}  
#head{
     width:95%;
      margin:auto;
}
} 
@media screen  and (max-width:766px){ 
    #main{
          
        width:100%;
  }
    .reservia-logo{
              padding-left:1rem;
}
    .title{
             width:100%;
            
             display:grid;
             grid-template-areas: 
            "Reservia-logo. menu-nav-2"
            "menu-nav-1 menu-nav-1 menu-nav-1";  
} 
.resevia{grid-area:Reservia;}
.menu-nav-1{grid-area:menu-nav-1;}
.menu-nav-2{grid-area:menu-nav-2;}
#head{
      
      width:90%;
      margin:auto;
}

.hebergement{
   border-top:none !important;
   border-bottom:3px solid #0065FC;
}
 .activites{
border-bottom:3px solid #F2F2F2;}
}
@media screen  and (max-width:768px)
{
    .recherche {
         border-right:none;
        
  }
     .bouton{
        margin-left:-10px;
        width:51px;
        border-radius:1rem 1rem 1rem 1rem;
}
     .bouton i{
        display:flex;
}
      .submit{
        display:none;
}
     form{
        width:100%;
}
}
@media screen and (max-width:1024px){
.element04{
display:block;
}
.list{
column-gap:1rem;
display:flex;
width:100%;
}
.list1 p{
padding:0.5rem 0.5rem;
}
}


@media screen and (max-width:766px){
.element04{
display:block;
}
.list{
display:flex;
flex-flow:wrap;
width:100%;
row-gap:1rem;
}
}
@media screen and (max-width:1024px){
    #container-father{
       
        display: flex;
    flex-direction: column-reverse;
     
  }
 
}


@media screen and (max-width:768px){
    #container-father{
       
        display: flex;
    flex-direction: column-reverse;
     
  }
}

@media screen and (max-width:1024px){
    #container-child-1{
        background:white;
        width:95%;
        margin:auto;
        
  }
}

@media screen and (max-width:766px){
    #container-child-1{
        background:white;
        width:90%;
        margin:auto;
        
  }
}
@media screen and (max-width:1024px){
    #container-cd-1{
        column-gap:1rem;
Row-gap:1rem;}
    .container-element-1{
        
        width:30%;
        
  }
}
@media screen and (max-width:766px){
    .container-element-1{
        
        width:100%;
        
  }
}

@media screen  and (max-width:1024px){
    #container-child-2{
     width:95%;
     margin:auto;
     border-radius:16px;
     
  }


}

@media screen  and (max-width:766px){
    #container-child-2{
     width:100%;
     border-radius:0px;
     
  }


}
@media screen and (max-width:1024px){
    .container-cd-2{
         display:flex;
        flex-direction:row;
        column-gap:1rem;
        
}
.container-element-2{
   display:flex;
   flex-direction:column;
   height:180px;
}
.container-element-2 img{
     width:100%;
     height:50%;
}
.wax{
   display:flex;
   flex-direction:column;
}
.wax p{
margin-top:5px;}
.wax .star1{
margin-top:-15px;}
} 
@media screen and (max-width:766px){
    .container-cd-2{
         display:flex;
        flex-direction:column;
        
}
.container-element-2{
   display:flex;
   flex-direction:row;
   Height:150px;
}
.container-element-2 img{
     width:40%;
    height:100%;
}
.wax{
   display:flex;
   flex-direction:column;
   row-gap:3rem;
}

}

@media screen and  (max-width:1024px){
   .wrapper-father{
        margin:auto;
        display:block;
        width:95%;
        
       
  }
    .wrapper-child{
        display: flex;
    width: 100%;
    flex-wrap:wrap;
    row-gap: 1rem;
}
.wrapper-father h2{Padding:0 0 1rem 1rem;}
 .one{
        width:30%;}
.one img{
        height:140px;}
.two{
        width:30%;}
.two img{
        height:140px;}
 .three{
    width:30%}
  .three img{
        height:140px;}
      

 .four{
        width:30%;}
 .four img{
        height:140px;} 
.five{
        width:30%;}
.five img{
        height:140px;}
   .six{
        width:30%;}
.six img{
        height:140px;}
}
 @media screen and (max-width:667px){
     .wrapper-father{
        display:block;
        width:90%;
        margin:auto;
}
    .wrapper-child{
        row-gap:1rem;
        margin:0;
        display:flex;
        flex-direction:column;
        width:100%;
}
.wrapper-father h2
      {padding:0 0 1rem 1rem;}
 .one{
        width:100%;}
.one img{
       height:140px;}
.two{
        width:100%;}
.two img{
       height:140px;}
 .three{
        width:100%;}
.three img{
       height:140px;} 
 .four{
        width:100%;}
.four img{
       height:140px;}   
.five{
        width:100%;}
.five img{
       height:140px;}
   .six{
        width:100%;}
.six img{
        height:140px;}
} 
@media screen and (max-width:1024px){
      #footer{
      
      margin-top:2rem;
    
}
 .footer-cd{
        display:flex;
        width:80%;
}

}

@media screen and (max-width:766px){
 
    .footer-cd{
        display:block;
        padding:2rem 2rem;
       }
#footer{
      
      margin-top:2rem;
     
}


}
