
#main{
      background:white;
      Width:100%;
      Font-weight:inherit;
      font-family:Raleway  ,sans-serif;

}
.title{
      width:100%;
      
      Display:grid;
      grid-template-columns: 1fr auto auto;
      Column-gap:1rem;
     }

@media screen  and (max-width:768px){ 
    #main{
          Width:100%; 
  }
    .title{
        Display:grid;
             grid-template-areas: 
            "Reservia. navi1"
            "navi navi navi";  
} 
.resevia{grid-area:reservia;}
.navi{grid-area:navi;}
.navi1{grid-area:navi1;}

.ins{
   Border-top:none !important;
   Border-bottom:3px solid #0065FC;
}
 .inss{
Border-bottom:3px solid #F2F2F2;

}
.navi {display:grid;} 
}
.navi{
      Display:flex;
Align-items:center;
}
.navi a{ 
      
      Display:flex;
      Align-items:center;
      Justify-content:center;
      Text-decoration:none;
}
.ins{
      Font-weight:200;
      font-size:20px;
      Color:#0065FC;
      Padding-left:2rem;
      Padding-right:2rem;
      Height:50px;
      Width:100%;
      Border-top:3px solid #0065FC;
      display:flex;
      Align-items:center;
      Justify-content:center;
}
.inss{
      Font-weight:200;
      font-size:20px;
      Color:#000;
      Padding-left:2rem;
      Padding-right:2rem;
      Height:50px;
      Width:100%;
      Justify-content:center;
      display:flex;
      Align-items:center;
}
.inss:hover{
      Border-top:3px solid #0065FC;
      Color:#0065FC;
}

.navi1 a {
    Display: flex;
    Align-items: center;
    Justify-content: center;
    Text-decoration: none;
}
.insss{
      Padding-left:2rem;
      Padding-right:1rem;
      Font-weight:200;
      font-size:20px;
      Color:#0065FC;
      display:flex;
      Align-items:center;
      Height:50px;
      Width:100%;
      Justify-content:center;
}
.insss:hover{
      Border-top:3px solid #0065FC;;
}
#head{
      Width:100%;
      Display:grid;
      }
.element1{
       Width:80%;
       Display:block;
}
.element01 h1{
       Font-weight:600;
       Margin-bottom:0;
       font-size:24px;
       font-family:Raleway  ,sans-serif;

       
}
.element01 p{
        Margin-t0p:1rem;
        font-family: Raleway, sans-serif;
        Opacity:0.6;
}
.element03{
        
        Margin-top:0;
        Display:flex;
}
@media screen  and (max-width:768px){
    .recherche {
        Width:80%;
  }
     .bouton{
        Width:51px;
        Display:flex;
        flex-direction: column-reverse;
        Border-radius:1rem;
}
     .bouton i{
        Line-height:3.2rem;
}
      .submit{
        display:none;
}
}


.recherche input {
    
    padding:1.5rem;
    
    Border:none;
    Outline:none;
    Font-size:1rem;
    Height:30px;
    border-radius:15px 0 0 15px;
}
.bouton{
       
      Background:#0065FC;
      overflow:hidden;
           } 
.submit{
      
      Line-height:3.2rem;
      Padding-right:1rem;
      padding-left:1rem;
      Cursor:pointer;
      Font-size:17px;
      Color:white;
      
} 
.bouton i{
Color:white;
Display:flex;
Align-items:center;
Justify-content:center;}
form {
    
    overflow:hidden;
    Display:flex;
    Border:solid 1px #F2F2F2;
    Border-radius:0px 15px 15px 0px;
    Height:51px;
    Border-left:none;
}
.png{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:solid 1px #F2F2F2;
    Border-right:none;
    Border-radius:15px 0 0 15px;
    Background:#F2F2F2;
    Height:51px;
    Width:50px;
} 
.element04{ 
    
    Transation:1s ;
    Margin-top:2rem;
    margin-bottom: 1rem;
    Display:flex;
    Column-gap:2rem;
    Align-items:center;
    font-family :Raleway, sans-serif;
}
@media screen  and (max-width:768px){
    .element04{
        Width:100%;
        Display:grid;
        Row-gap:1rem;
        
  }
.list1{
Margin-right:1rem;
}
.list2{
Margin-right:0;}
.list3{
Margin:auto;
Margin-left:0;}
.list4{
Margin:auto;
Margin-left:0;

}


}
.list{

Display:flex;}

.element04 h2{
    Font-weight:700;
    Font-size:20px;
    font-family:Raleway  ,sans-serif;    
    Margin-left:0px;
    Margin-right:2rem;}


.list1 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list1{
    
    Display:flex;
    Align-items:center;
    Border:solid 2px #d9d9d9;
    Font-weight:700;
    font-family:Raleway  ,sans-serif;
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    Margin-right:1rem;}
.list1:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}
.list2 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list2{
    
    Display:flex;
    Align-items:center;
    Font-weight:700;
    Border:solid 2px #d9d9d9;
    
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    }
.list2:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}
.list3 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list3{
    
    Display:flex;
    Align-items:center;
    Font-weight:700;
    Border:solid 2px #d9d9d9;
    
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    }
.list3:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}
.list4 i{
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Border:none;
    Background:#deebff;
    Margin:-3px;
    Margin-right:1rem;
    color: #0065FC;
    Border-radius:50%;
    Height:3.5rem;
    Width:3.5rem;
    
}
.list4{
    
    Display:flex;
    Align-items:center;
    Font-weight:700;
    Border:solid 2px #d9d9d9;
    
    Border-radius:50px;
    Height:3.5rem;
    Font-size:1rem;
    Padding-right:1rem;
    }
.list4:hover{
     Background:#f2f7ff;
     Transform:scale(1.04);
}

.element05 { 
    Display:flex;
    Align-items:center;
    Margin:1rem 0 2rem 0;    
   }
.info2 { 
    Display:flex;
    Align-items:center;
    Justify-content:center;
    Padding-bottom:0px;
    Margin-right:10px;
    Width:2rem;
    Height:2rem;
    Color:blue;
    Border:solid 1px #d9d9d9;
    Border-radius:50%;}
#yazid{
    
    height:100%;
    width:100%;
    display:flex;
    column-gap: 2rem;
}
@media screen and (max-width:768px){
    #yazid{
        display: flex;
    flex-direction: column-reverse;
     Width:100%;
     Height:100%;
  }
#container{
     
}
}
#container{
     Width:70%;
     border-radius: 1.5rem;
     Background:#F2F2F2;
}
@media screen and (max-width:768px){
    #container{
        Background:white;
        Width:100%;
        Height:100%;
  }
}#container h3{
     Font-weight:inherit;
     Display:block;
     Margin-left:2rem;
     Font-size:24px;
}
#container h8{
     Font-size:19px;
     Font-weight:700;
     Display:block;
     Margin:2rem;
}
#conteneur{
     
     Width:100%;
     display: flex;
     flex-wrap: wrap;
     Column-gap:2rem;
     Row-gap:2rem;
     Justify-content:center;
     Align-items:center;
}
.element{
     Box-shadow:0 0 16px #0000002e;
     Display:block;
     Border-radius:1.25rem;
     Height:220px;
     Width:230px;
     Border:5px solid #fff;
     Overflow:hidden;
     Border-radius:1.25rem;
     Background:white;
     Cursor:pointer;}

@media screen and (max-width:768px){
    .element{
        
        Width:90%;
        Height:70%;
  }
}
.element img{
      Height:8rem;
      Max-height:100%;
      Max-width:100%;
      Object-fit:cover;}
.element p{
      Font-weight:inherit;
      Font-size:18px;
      Margin:0.25rem 0.75rem 0 0.75rem;}
.star2{
      Color:#0065FC;
      Margin:0.75rem;}
.star2 span{
      Color:#d9d9d9;}
.element:hover{
       Transform:scale(1.02);}
#yijiao{
       Width:30%;
       Background:#F2F2F2;
       Border-radius:1.5rem;}
@media screen  and (max-width:768px){
    #yijiao{
     Width:100%;
  }
}
.graph{
     
     Font-size:24px;
     Display:flex;
     Justify-content:space-between;
     Height:60px;
}
@media screen  and (max-width:768px){
    .graph{
        
        Width:100%;
  }
#yijiao{
        Height:680px;}
}
.graph h3{
       Font-weight:inherit;
       Font-size:1.5rem;
       Margin-left:2.5rem;}
.graph i{
       Margin-right:2rem;
       Margin-top:1.5rem;
}
.elem11{
       max-width:100%;
       Display:flex;
       Flex-direction:column;
       Row-gap:2rem;
       Margin:1.5rem;
}
.wax{
       Display:block;
       Margin-left:1rem;
}
.element11{
        Box-shadow:0 0 16px #0000002e;Max-width:100%;
        Border-radius:1.5rem;
        Background:#fff;
        overflow:hidden;
        Display:flex;
        width:100%;
        Height:150px;
        Border:5px solid #fff;
}
.element11 img{
        Object-fit:cover;
        Width:40%;
}
@media screen and (max-width:768px){
    .element11{
        Display:flex;
        Height:150px;
        Width:100%;
  }
}
.wax p{
       Font-weight:inherit;
       Font-size:18px;
       Margin-top:-1px;
}
.wax .star1{
       Color:#0065FC;
       Margin-top:4rem;

}
.star1 span{
        Color:#d9d9d9;
}
.element11:hover{
        Transform:scale(1.02);
}
.wrapper1{
        
        Margin:4rem 0;
}
@media screen and (max-width:768px){
    .wrapper1{
        Display:block;
        Width:100%;
               }
    .wrapper1 h2{
       Margin-left:1rem;}
      
  } 
.wrapper1 h2{
       Font-weight:inherit;
       font-family:Raleway  ,sans-serif;
}
.wrapper {
        width:100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        Grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
        column-gap:2rem;
 }
@media screen and (max-width:768px){
    .wrapper{
        Display:block;
        Width:100%;
      
  }
}
.one {
      Cursor:pointer;
      box-shadow: 0 0 20px #0000002e;
      overflow: hidden;
      Border-Radius:1rem 1rem 1rem 1rem;
      Display:flex;
      Flex-direction:column;
      object-fit:cover;
      grid-column: 1/2 ;
      Grid-row:2/7;
}
.one img{
       Width:100%;
       Height:100%;
       Object-fit:cover;
}
.one p{
        margin-bottom :19.2px;
        margin-left :24px;
        margin-right: 24px;
        margin-top :19.2px;}
  @media screen and (max-width:768px){
    .one{
        Display:block;
        Width:90%;
        Margin-left:1rem;
        Height:200px;
  }
   .one img{
        Height:130px;
}    
}
.two {  
        Cursor:pointer;
        Display:flex;
        Flex-direction:column;
        Border-Radius:1rem 1rem 1rem 1rem;
        overflow: hidden;
        box-shadow: 0 0 20px #0000002e;
        grid-column: 2 ;
        grid-row: 2/5;
} 
.two p{
        margin-bottom :19.2px;
        margin-left :24px;
        margin-right :24px;
        margin-top :19.2px;
}
.two img{
       Width:100%;
       Height:227px;
       object-fit:cover;
}
 @media screen and (max-width:768px){
    .two{
        Display:block;
        Width:90%;
        Height:200px;
        Margin-left:1rem;
        Margin-top:1rem;}
 .two img  {height:130px;      
  }
}.three {
       Cursor:pointer;
       box-shadow: 0 0 20px #0000002e;
       overflow: hidden;
       Display:flex;
       Flex-direction:column;
       Border-Radius:1rem 1rem 1rem 1rem;
       grid-column: 2;
       Grid-row: 6/7;
}
.three img{
      object-fit:cover;
      Height:163px;
}
.three p{
      margin-top:19.2px;
      margin-bottom:19.2px;
      margin-left:24px;
      margin-right:24px; 
}
 @media screen and (max-width:768px){
    .three{
        Display:block;
        Width:90%;
        Height:200px;
        Margin-left:1rem;
        Margin-top: 1rem;}
    .three img{
        Height:130px;
  }
}
.four {
     Cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     Display:flex;
     Flex-direction:column;
     Border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 3;
     grid-row: 2/7;
}
.four img{
     object-fit:cover;
}
.four p{
     margin-bottom :19.2px;
     margin-left :24px;
     margin-right: 24px;
     margin-top :19.2px;}
   @media screen and (max-width:768px){
    .four{
        Display:block;
        Width:90%;
       Height:200px;
       Margin-top:1rem; 
       Margin-left:1rem;}
.four img{
       Height:130px;
  }
}
.five {
     Cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     Display:flex;
     Flex-direction:column;
     Border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 4;
     grid-row: 2/3;
}
.five img{
   
     Height:163px;
     object-fit:cover;
}
.five p{margin-bottom :19.2px;
     margin-left :24px;
     margin-right: 24px;
     margin-top :19.2px;
}
 @media screen and (max-width:768px){
    .five{
        Display:block;
        Width:90%;
        Height:200px;
        Margin-left:1rem;
        Margin-top: 2rem;}
.five img{
        Height:130px;
  }
}
.six {
     Cursor:pointer;
     box-shadow: 0 0 20px #0000002e;
     overflow: hidden;
     Display:flex;
     Flex-direction:column;
     Border-Radius:1rem 1rem 1rem 1rem;
     grid-column: 4;
     grid-row: 4/7;
}
.six img{
     Object-fit:cover;
}
.six p{
     margin-bottom :19.2px;
     margin-left :24px;
     margin-right :24px;
     margin-top :19.2px;
}
 @media screen and (max-width:768px){
    .six{
        Display:block;
        Width:90%;
        Height:200px;
        Margin-left:1rem;
        Margin-top:1rem;}
.six img{
        height:130px;
  }
}
#footer{
     Width:100%;
     Height:100%;
     Background:#F2F2F2;
}
.footer1{
     Width:100%;
     Display:flex;
     Justify-content:space-between;

}
@media screen and (max-width:768px){
    .footer1{
        Display:block;
        Padding:1rem;
}
.element5{
        Margin-top:3rem;

}

}
.element5{ 
      
      Width:100%;
} 
.element5 h3{
      Font-weight:700;
      Font-size:18:px;     
      font-family:Raleway  ,sans-serif;
}
.element5 ul{
      Font-weight:200;
      list-Style:none;
}
.element5 a{
     Font-weight:inherit;
     font-family:Raleway  ,sans-serif;
     line-height: 2rem;
     Text-decoration:none;
     Color:#000;
     Margin-left:-40px;
}
.element5 a:hover{
    text-decoration:underline;
}